
body{  
    margin: 0;
    padding: 0;
    
    
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #E7E8D1; 
       
}

.header-logo{
    width: 75px;
    padding: 20px 10px;
    margin-left: 50px;
    
}

.nav-bar{
    padding: 45px 0px;
    padding-right: 50px;

}

.nav-bar > button{
    margin: 0;
    padding: 0 8px;
    border: none;

    font-size: 30px;

    color: #A7BEAE;

    background-color: #E7E8D1;
}

.nav-bar > button:hover{
    color:#B85042
}

.top-section{
    margin: 0;
    padding: 50px 0px;
    background-image: -webkit-linear-gradient(105deg,  white 50%, #B85042 50%);
}
.top-section-txt{
    
    color: #E7E8D1;
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 4;
    font-size: 50px;

    letter-spacing: -3px;
    
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 40px;

    margin: 0px;
}

.mid-section{
    
    height: 800px;
    width: 100vw;

    background-color: #f6f9fc;
}

.mid-section-imgs{
    display: flex;
    justify-content: space-evenly;
    size: 10px;

    margin: none;
    padding: 40px 0px;
}

.mid-section-imgs > img{
    width: 100px;
}

.mid-section-caption{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    font-family: 'GT Haptik Medium',sans-serif;
    padding-right: 140px;
}

.mid-section-caption > div > p{
    display: block;
    width: 200px;   

    letter-spacing: 3px;
    line-height: 2;

    padding-top: 80px;
}

.texas-caption{
    margin-left: 265px;
}

.airplane-caption{
    margin-left: 165px;
}

.moneySymbol-caption{
    margin-left: 235px;
}

.texas-desc{
    margin-left: 370px;
}

.airplane-desc{
    margin-left: 230px;
}

.moneySymbol-desc{
    margin-left: 285px;
}

.example-cats{
    background-image: -webkit-linear-gradient(95deg,  #A7BEAE 50%, white 50%);
    margin-bottom: 10px;
    padding-bottom: 1000px;
}

.example-cats-pics{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content:space-evenly;

    position: relative;
    top: 700px;
}

.example-cats-pics > img{
    width: 100px;
    border: 4px solid #E7E8D1;
    border-radius: 50px;
}

.example-cats-buttons{
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    top: 720px;
}

.example-cats-buttons1{
    margin-left: 350px;
}
.example-cats-buttons2{
    margin-left: 300px;
}
.example-cats-buttons3{
    margin-left: 300px;
}

.example-cats-buttons > div > button{
    display: block;
    
    font-weight: bold;
    font-size: 25px;

    margin-bottom: 10px;
    
    width: 200px;
}

.example-cats-buttons-upper{
    border: none;
    border-radius: 20px;

    background-color:#B85042 ;
    color: white;

    padding: 4px 0px;
}

.example-cats-buttons-upper:hover{
    background-color: #E7E8D1;
}


.example-cats-buttons-lower{
    background-color: transparent;
    border: none;
    color: #B85042;
}

.example-cats-buttons-lower:hover{
    color: #717378; 
}

.shopping-button-container{
    display: flex;

    flex-wrap: wrap;
    position: relative;
    top: 850px;
    align-items: center;
    justify-content: center;
}

.shopping-button{
    background-color: #B85042;
    color: white;

    border: none;
    border-radius: 2px;

    padding: 10px 10px;

    font-size: 20px;
    font-family: 'GT Haptik Medium',sans-serif;
}

.shopping-button:hover{
    background-color: #E7E8D1;
}

.shopping-page-header{
    display: flex;
    
    background-color: #E7E8D1;
    height: 75px;
}

.shopping-page-back-btn{
    background-color: #0a2540;

    border: none;
    border-radius: 10px;

    padding: 6px 10px;

    color: white;

    margin: 23px 20px;
}

.shopping-page-back-btn:hover{
    background-color: #A7BEAE;
}

.login-btn{
    color: white;

    background-color: #B85042;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 25px;

    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 20px;
    margin-right: 40px;

    border: 0px;
    border-radius: 20px;
}

.login-btn:hover{
    background-color: #9b3022;
}

.shopping-page-title{
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);

    margin: 15px 0px;

    color: #0a2540;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shopping-page-cart{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 10px;
}

.shopping-cart-logo{
    width: 50px;
    align-self: center;
}

.shopping-cart-amt{
    background-color: #0a2540;
    color: white;

    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    margin-top: 15px;
    padding-top: 2px;

    text-align: center;
}

.shopping-page-header-caption{
    background-color: #A7BEAE;
    height: 30px;
}

.shopping-page-header-caption > p{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding-top: 5px;
    text-align: center;
}

.cat-card{
    display:flex;
    flex-direction: column;

    background-color: #A7BEAE;

    margin-top: 50px;
    
}

.cat-card-top{
    border: 6px solid #E7E8D1;
    width: 225px;
    height: 300px;
}

.add-cart-btn{
    margin-top: 0px;
    border: 2px solid #0a2540;
    font-weight: bold;

    padding: 4px 0px;
}
.add-cart-btn:hover{
    background-color: #f0e9e989;
}

.buy-btn{
    border: none;
    background-color: #B85042;
    color: white;

    font-weight: bold;

    padding: 4px 0px;
}

.buy-btn:hover{
    background-color: #9b3022;
}

.cat-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-evenly;
}

.cat-card-img{
    display: flex;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    border:  6px solid #E7E8D1;

    padding: 0px 0px;
    max-width: 100px;
}

.cat-card-info{
    display: flex;
    flex-direction: column;
}

.cat-card-info > p{
    margin-left: auto;
    margin-right: auto;

    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-page{
    display: flex;
    justify-content: center;
    background-color: #f7fafc;
    width: 100vw;
    min-height: 100vh;

    height:max-content;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 100px;

    box-shadow: 0 0 20px #ccc;

    background-color: #ffffff;
    width: 400px;
    height: 500px;
}



.login-box > button{
    background-color: #B85042;
    color: white;

    height: 30px;
    width: 250px;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;

    border: none;
    border-radius: 4px;

    font-weight: bold;
}

.login-box > button:hover{
    background-color: #9d2717;
}

.login-form{
    display: flex;
    flex-direction: column;

    width: 250px;

    margin: auto;
}

.login-form > input{
    margin: 15px 0px;
    padding: 10px 5px;

    border: 1px solid #e0e1e4;
    border-radius: 8px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-form > label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header-back-btn{
    background-color: #0a2540;

    margin-top: 15px;
    margin-left: 15px;

    border: none;
    border-radius: 10px;

    padding: 6px 10px;

    color: white;
}

.login-header-back-btn:hover{
    background-color: #9d2717;
}

.login-header > h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-header-logo{
    display: flex;
    justify-content: center;
    background-color: transparent;

    margin: auto;
    margin-top: 10px; 
    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.login-header-logo > img{
    align-self: center;
    width: 50px;
}